@model eTicaretProje.Models.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}
<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Bilgileriniz</h2>
            <p>Lütfen sipariş bilgilerini doldurun</p>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                    <div class="col-sm-6">
                        <span class="badge-danger">
                            @User.Identity.Name
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Adres Tanımı</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.AdresBasligi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Adres</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Şehir</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Semt</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Semt, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Mahalle</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Mahalle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Posta Kodu</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <h2>Ödeme Bilgileri</h2>
                <p>Nakit seçtiğiniz durumda kart bilgilerini doldurmanız gerekmemektedir.</p>
                @Html.EnumDropDownListFor(i => i.PaymentMethod, new { @class = "form-control" })
                <br />
                <br />
                <br />
                <br />

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Kart Numarası</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.CartNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">CVC</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.CVC, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Son Kullanma Tarihi</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}