@model eTicaretProje.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Detay Bilgileri</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Sipariş Durumu</dt>
                @if (Model.OrderState == eTicaretProje.Entity.EnumOrderState.Waiting)
                {
                    <dd class="col-sm-9">Hazırlanıyor</dd>
                }
                else if (Model.OrderState == eTicaretProje.Entity.EnumOrderState.InCargo)
                {
                    <dd class="col-sm-9">Kargoya Verildi.</dd>
                }
                else
                {
                    <dd class="col-sm-9">Teslim Edildi.</dd>
                }

                <dt class="col-sm-3">Sipariş Numarası</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>


                <dt class="col-sm-3">Sipariş Tarihi</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Toplam Fiyat</dt>
                <dd class="col-sm-9">
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @Model.Total
                </dd>



                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <hr />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <hr />
                    @Model.PostaKodu
                </dd>
                <dt class="col-sm-3">Ürünler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fotoğraf</th>
                                <th sytle="width: 45%;">Ürün Adı</th>
                                <th>Ürün Adedi</th>
                                <th>Fiyat</th>
                                <th sytle="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Upload/@item.Image" width="70" />
                                    </td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <i class="fa fa-try" aria-hidden="true"></i>
                                        @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Ürünü İncele
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>

